.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* width: 100%; */
    background-color: #fff;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.not-found-content {
    max-width: 500px;
    text-align: left;
    z-index: 2;
}

.not-found-title {
    font-size: 6rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
}

.gradient-text {
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 50%, #ff89b5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.not-found-heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0 0 1rem 0;
}

.not-found-text {
    font-size: 1rem;
    color: var(--para-color);
    line-height: 1.6;
    margin-bottom: 2rem;
}

.not-found-button {
    display: inline-block;
    padding: 14px 28px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.not-found-button:hover {
    background-color: #1a4a5a;
    /* Darker shade of primary color */
    transform: translateY(-2px);
}

.not-found-background-shape {
    position: absolute;
    bottom: -20%;
    right: -25%;
    width: 80%;
    height: 80%;
    background-color: #f8f9fa;
    border-radius: 60% 40% 30% 70% / 70% 30% 70% 30%;
    z-index: 1;
    opacity: 0.8;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .not-found-container {
        flex-direction: column;
        text-align: center;
    }

    .not-found-content {
        text-align: center;
    }

    .not-found-background-shape {
        width: 120%;
        height: 60%;
        bottom: -15%;
        right: -30%;
    }

    .not-found-title {
        font-size: 5rem;
    }

    .not-found-heading {
        font-size: 2rem;
    }
}