.about-services {
    position: relative;
    padding: 80px 0;
    background: url('/images/background/wave-bg.svg') no-repeat;
    background-size: cover;
    min-height: 560px;
}

.about-services-content {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}

.about-services-header {
    text-align: center;
    margin-bottom: 60px;
}

.about-services-header p {
    max-width: 800px;
    margin: 0 auto;
}

.about-services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.service-card {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    text-align: left;
    transition: all 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(275deg, rgb(44 75 71 / 3%) 0%, rgba(44, 75, 71, 0) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
    transition: .5s;
    z-index: -1;
}

.card-content {
    position: relative;
    z-index: 2;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.service-card:hover .card-overlay {

    background: linear-gradient(135deg, rgba(44, 75, 71, 0.15) 0%, rgba(44, 75, 71, 0.05) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
    transition: .5s;
}

.service-card img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
}

.service-card:hover img {
    transform: scale(1.1);
}

.service-card h3 {
    color: #2C4B47;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.service-card:hover h3 {
    color: #1a2f2c;
}

.service-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.3s ease;
}

.service-card:hover p {
    color: #444;
}

@media (max-width: 768px) {
    .about-services {
        padding: 60px 0;
    }

    .about-services-header h2 {
        font-size: 36px;
    }

    .about-services-header p {
        font-size: 16px;
    }

    .service-card {
        padding: 20px;
    }
}