.about-services {
    position: relative;
    padding: 80px 0;
    background: url('/images/background/wave-bg.svg') no-repeat;
    background-size: cover;
    min-height: 560px;
}

.about-services-content {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}

.about-services-header {
    text-align: center;
    margin-bottom: 60px;
}



.about-services-header p {
    max-width: 800px;
    margin: 0 auto;
}

.about-services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.service-card {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    text-align: left;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.service-card img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.service-card h3 {
    color: #2C4B47;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}

.service-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .about-services {
        padding: 60px 0;
    }

    .about-services-header h2 {
        font-size: 36px;
    }

    .about-services-header p {
        font-size: 16px;
    }

    .service-card {
        padding: 20px;
    }
}
