.AboutCareer p {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    color: black !important;
}

.AboutCareer p:last-child {
    color: #777272 !important;
    margin-left: 10px;
}

.AboutCareer p svg {
    font-size: 25px;
    margin: 0px 10px;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 2px solid #006fb9;
}

.ContentCardCareer {
    margin: 40px 0px;
}

.CareerSectionImage {
    display: flex;
    align-items: center;
    height: 100%;
}

.CareerSectionImage>div {
    height: 600px;
    overflow: hidden;
}

.CareerSectionImage div img {
    width: 100%;
}

.CareerAboutContentContainer {
    padding-right: 5rem;
}

.CareerCardDesign{
    background-color: #f7f7f7;
    margin: 20px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media (max-width:900px) {
    .CareerAboutContentContainer {
        padding-right: 0rem;
    }
}