:root {
    --primary-color: #0c1f24;
    --para-color: #7b8282;

}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.paddingSection {
    padding-top: 100px;
    padding-bottom: 50px;
}

.TaglineWithIcon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.TaglineWithIcon img {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.centerContainer {
    display: flex;
    justify-content: center;
}

.margin-100 {
    margin-top: 100px;
}


.Common-header {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.margin-top-140px {
    margin-top: 140px;
}


@media (max-width: 768px) {
    .margin-top-140px {
        padding-top: 80px;
        margin-top: 0px !important;
    }

    .paddingSection {
        padding-left: 10px;
        padding-right: 10px;
    }

    .Common-header {
        position: relative;
        overflow: hidden !important;
    }
}