@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: "Manrope", sans-serif;
  font-style: normal !important;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

:root {
  --primary-font: 55px;
}

h1 {
  font-size: 52px;
  font-weight: 400;
  line-height: 116%;
  margin: 0px;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  filter: blur(0px);
  transform-style: preserve-3d;
  letter-spacing: -.03em;
}

h2 {
  font-size: 18px;
  margin: 0px;
  text-transform: uppercase;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  filter: blur(0px);
  transform-style: preserve-3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 166%;
  color: #7b8282;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  filter: blur(0px);
  transform-style: preserve-3d;
  color: var(--para-color);
  margin: 0px;
}
.para{
  color: #7b8282;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    filter: blur(0px);
    letter-spacing: -.02em;
    margin-bottom: 0;
    font-family: Manrope, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 166%;
}

a {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

.w-100{
  width: 100%  !important;
}

.white{
  color: white;
}

.black{
  color: black;
}

.h2-gradient{
  background: linear-gradient(90deg, #9968ff, #ff524e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 116%;
    margin: 0px;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    filter: blur(0px);
    transform-style: preserve-3d;
    letter-spacing: -.03em;
  }
  
}